*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    overflow: visible !important;
}
.row-logo { padding-top: 2rem; }

.img-nav { width: 200px; }

.card-form {
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px  rgba(0,0,0,0.5);
    transition: 0.8s;
}

.card-form:hover {  box-shadow: -5px 5px 10px 1px  rgba(0,0,0,0.5); transform: translateY(10px); }

.form-news{  margin-top: 1rem; }

.input-subs  p { padding-left: 2.3rem; }

.separate_progress {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.d-none { display: none; }

.progress {  background-color: rgba(90,169,230,0.3) !important; }

.progress .indeterminate { background-color: #2467b5 !important; }

.btn { transition: 0.5s; }

.btn:hover {  transform: translateY(-5px); border-radius: 30px ;}

#input_select ul {
    top: 45px !important;
}

#input_select ul span {
    color: black;
}

#input_select ul li {
    border-bottom: 1px solid rgba(90,169,230,0.3) ;
    
}

#input_select ul li:first-child > span {
    color: gray;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .img-nav{ width: 180px; }
    .input-subs p { padding-left: 0 }

}

/*  Medium devices (tablets, 768px and up) 
@media (max-width: 768px) {  }

/* Large devices (desktops, 992px and up) 
@media (max-width: 992px) {  }

/*  Extra large devices (large desktops, 1200px and up) 
@media (max-width: 1200px) { } */